/* Login Page By Daya*/

/* This basicalyl makes the page bg image fit to the screen*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.login-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url("images/imagg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.login-page form {
    background: lightblue;
    padding: 30px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;

}

.login-page form h2 {
    margin-bottom: 20px;
    color: #333;
}

.login-page input[type="text"],
.login-page input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-page button {
    width: 95%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-page button:hover {
    background: linear-gradient(to right, #ACB6E5, #74ebd5);
    transform: scale(1.05);
}

.login-page .error {
    color: red;
    margin-bottom: 10px;
}



/* For logout button on the manage.php page basically */
.logout-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #ff4d4d;  
    color: white;              
    text-decoration: none;     
    border-radius: 4px;        
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #e60000; 
}


p.logout-link {
    text-align: right;
    margin-bottom: 20px;
}
